body{
    background-color: rgba(19, 17, 32, 0.726);
    display: flex;
}
.p{
    color: rgb(185, 185, 185);
}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 35px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}


.rar{
    color: rgb(0, 0, 0);
    background-color: red;
    font-size: large;
    font: bold;
}
.com{
    text-decoration: none;
    color: black;
    font: bold;
}





.menu{
    background-color: #123;
    width: 120px;
    height: vh;
    padding: 20px;
    overflow: hidden;
}
.menu:hover{
    width: 300px;
    transition: .5s;
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
ul{
    list-style: none;
    position: relative;
    height: 100%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
}
ul li a:hover, .active{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #a00;
}
ul li a i{
    font-size: 30px;
}
ul li a.ll{
    gap: 60px;
}
.books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    padding: 40px;
}


.book {
    background-color: rgb(33, 15, 56);
    border: 1px solid #0a0a0a;
    padding: 15px;
    width: 250px;
    margin: 10px;
    height: 500px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.book h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.book p {
    font-size: 1em;
    color: #48c018;
}

.book a {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.book a:hover {
    background-color: #0056b3;
}
